html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*General*/
/*Tablas*/
/*Inputs*/
/*Formularios*/
/*Login*/
table {
  background-color: #049DD9;
  display: inline-block;
  text-align: left;
  border-collapse: collapse;
  width: 80%;
  border-radius: 0.4em;
  margin-left: 3.5%;
  margin-top: 3%;
}

table.tablaExamen {
  width: 400px;
  height: 400px;
}

table th, table td {
  padding: 20px;
  width: 100%;
}

table thead {
  border-bottom: solid 5px #023059;
  background-color: #033E8C;
  color: white;
}

table tr:nth-child(even) {
  background-color: #0477BF;
}

table tr:hover td {
  background-color: #023059;
  color: white;
}

table tr.oculto {
  display: none;
}

input[type=submit] {
  padding: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
  background: #0184ff;
  color: white;
  float: right;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
}

input[type=text], input[type=password], input[type=date] {
  border: 1px solid #222;
  border-radius: 0.3em;
  margin-left: 25%;
  width: 50%;
  padding: 8px 5px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f2124), to(#27292c));
  background: linear-gradient(#1f2124, #27292c);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

input[type=text].formulario, input[type=password].formulario, input[type=date].formulario {
  width: 100%;
  margin-left: 0px;
}

input[type=text].contador, input[type=password].contador, input[type=date].contador {
  width: 5%;
}

input[type=checkbox] {
  display: inline-block;
  vertical-align: top;
}

.contenedorBoton {
  padding: 0 20px 20px 20px;
}

.contenedorBoton:after {
  clear: both;
  /*Hacemos que actue como una tabla*/
  display: table;
  content: "";
}

.contenedorBoton a {
  display: block;
  float: left;
  color: #0d93ff;
  padding-top: 8px;
}

label {
  color: #666;
  margin-left: 25%;
  display: block;
  padding-bottom: 9px;
}

label[for=recordar] {
  color: white;
  display: inline-block;
  padding-bottom: 0;
  padding-top: 5px;
}

label.formulario {
  margin-left: 0px;
}

input[type=text]:hover, input[type=password]:hover, label:hover ~ input[type=text], label:hover ~ input[type=password] {
  background: #27292c;
}

select {
  display: block;
  margin-left: 25%;
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f2124), to(#27292c));
  background: linear-gradient(#1f2124, #27292c);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

select:hover {
  background: #27292c;
}

form {
  background: #111;
  width: 900px;
  margin: auto;
  border: 1px solid #191919;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

form h1 {
  font-size: 18px;
  text-shadow: 0 1px 0 black;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
  position: relative;
}

form.login {
  width: 400px;
  height: 320px;
  margin: 30px auto;
  /*Recortamos el contenido del rectangulo para que no se salga del formulario*/
  overflow: hidden;
  position: relative;
}

form.login h1:after {
  width: 200px;
  height: 80px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50px;
  pointer-events: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
}

form.examen {
  width: 900px;
  height: 800px;
}

.inset {
  padding: 20px;
  border-top: 1px solid #19191a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  font-size: 12px;
  background: #333;
}
/*# sourceMappingURL=main.css.map */