@mixin tamanyoTablaExamen {
    width: $anchuraTablaExamen;
    height: $alturaTablaExamen;
}
@mixin bordesThead {
    border-bottom: solid 5px $bordesthead;
}
@mixin coloresTh {
    background-color: $theadBgColor;
    color: $colorTabla;
}
@mixin coloresTdHover {
    background-color: $hoverColorTabla;
    color: black;
}
@mixin bordesInputText {
    border:1px solid $colorBordeInputText;
    border-radius:0.3em;
}
@mixin rectanguloLogin {
    @include tamanyoRectangulo;
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:50px;
    pointer-events:none;
    transform:rotate(45deg);
    background:$fondoRectangulo;
}
@mixin tamanyoRectangulo {
    width:200px;
    height:80px;
}
@mixin tamanyoLogin {
    width:$anchuraLogin;
    height: 320px;
}
@mixin tamanyoFormulario {
    width:900px;
}
@mixin tamanyoFormularioTablas {
    width:900px;
    height: 500px;
}
@mixin tamanyoFormularioExamenes {
    width:900px;
    height: 850px;
}
@mixin tamanyoFormularioExamenEjecucion {
    width:900px;
    height: 350px;
}
@mixin botonRedondo {
    border-radius: 50%;
}
@mixin bordesBotones {
    border:$bordeBotones;
    border-radius:0.3em;    
}
@mixin colorBotones {
    background:$colorFondoBotones;
    color:$colorTexto;
}
@mixin colorCombo {
    color:$colorLabel;
    background:$colorFondoInputText;    
}
@mixin colorParesTabla {
    background-color: $bgTrPar;
    color:$colorPares;
}
@mixin coloresCajas {
    color:$colorTexto;
    background:$colorFondoInputText;
}
@mixin tamanyoFiltro {
    width: $anchuraFiltro;
}
@mixin tamanyoInput {
    width: $anchuraInput;
}
@mixin tamanyoInputForm {
    width:$anchuraInputForm;
}
@mixin tamanyoContador {
    width: $anchuraContador;
}
@mixin tamanyoFooter {
    width: $anchuraFooter;
}
@mixin tamanyoLogo {
    width: $anchuraLogo;
}
@mixin oculto {
    display: none;
}
@mixin botonActivo {
    background-color: $colorBotonActivo;
    border: 1px solid $colorBotonActivo;
}