/*General*/
$colorFondo:#333;
$colorTexto:white;
$fuente:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$tamanyoTexto:12px;
$tamanyoH1:18px;
$sombraH1:0 1px 0 black;
$bordesH1:1px solid rgba(0,0,0,1);
$colorFondoBotones:#0184ff;
$bordeBotones:1px solid rgba(0,0,0,0.4);
/*Tablas*/
$alturaTablaExamen:400px;
$anchuraTablaExamen:400px;
$alturaFila:50px;
$bordesTabla:1px;
$theadBgColor:#033E8C;
$bordesthead:#023059;
$bgColorTabla:#333;
$colorTabla:white;
$bgTrPar:#0477BF;
$hoverColorTabla:#023059;
/*Inputs*/
$colorFondoInputTextHover:#27292c;
$colorFondoInputText:linear-gradient(#1f2124, #27292c);
$colorLabel:#666;
$colorEnlace:#0d93ff;
$sombraInputText:0 1px 0 rgba(255,255,255,0.1);
$colorBordeInputText:#222;
/*Formularios*/
$colorFondoFormulario:#111;
$bordesFormulario:1px solid #191919;
/*Login*/
$anchuraLogin:400px;
$fondoRectangulo:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
$sombraFormularioLogin:0 5px 10px 5px rgba(0,0,0,0.2);