/*General*/
$colorFondo:#7F7E7E;
$colorTexto:white;
$fuente:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$tamanyoTexto:12px;
$tamanyoH1:18px;
$tamanyoH2:16px;
$sombraH1:0 2px 0 black;
$sombraH2:0 1px 0 gray;
$bordesH1:1px solid white;
$colorFondoBotones:#0184ff;
$bordeBotones:1px solid rgba(0,0,0,0.4);
/*Tablas*/
$alturaTablaExamen:400px;
$anchuraTablaExamen:400px;
$alturaFila:50px;
$bordesTabla:1px;
$theadBgColor:#4E4D4D;
$bordesthead:#0184ff;
$bgColorTabla:#333;
$colorTabla:white;
$colorPares:black;
$bgTrPar:#ABAAAA;
$hoverColorTabla:#DDDADA;
/*Inputs*/
$colorFondoInputTextHover:#27292c;
$colorFondoInputText:linear-gradient(#1f2124, #27292c);
$colorLabel:#666;
$colorEnlace:#0d93ff;
$sombraInputText:0 1px 0 rgba(255,255,255,0.1);
$colorBordeInputText:#222;
/*Formularios*/
$colorFondoFormulario:#111;
$bordesFormulario:1px solid #191919;
/*Login*/
$anchuraLogin:400px;
$fondoRectangulo:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
$sombraFormularioLogin:0 5px 10px 5px rgba(0, 0, 0, 0.2);
/*Footer*/
$colorFondoFooter:#ccc;
$colorLetraFooter:#080808;
$colorH2Footer:#2905A0;
$tamanyoLetraFooter:14px;
$colorEnlaceFooter:#343435;
/*Header*/
$colorFondoHeader:#ccc;
$colorSubmenu:#333333;