form{
    background:$colorFondoFormulario; 
    @include tamanyoFormulario;
    margin: auto;
    border:$bordesFormulario;
    border-radius:0.5em;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    h1{
        font-size:$tamanyoH1;
        text-shadow:$sombraH1;
        text-align:center;
        padding:15px 0;
        border-bottom:$bordesH1;
        width: 50%;
        margin:auto;
    }
    &.login{
        @include tamanyoLogin;
        position: relative;
        margin: 30px auto;
        //Recortamos el contenido del rectangulo para que no se salga del formulario
        overflow:hidden;
        h1{
            &:after{
                @include rectanguloLogin;
                border-width: 100%
            }
        }
    }
    &.tablas{
        @include tamanyoFormularioTablas;
    }
    &.examen{
        @include tamanyoFormularioExamenes;
    }
    &.examenEjecucion{
        @include tamanyoFormularioExamenEjecucion;
    }
    p{
        &.contenedorCheckbox{
            margin-left: 12px;
        }
    }
}
main{
    //Metemos aquí también los articles
    article{
        section{
            &.enunciado{
                //Utilizamos un tamaño de letra más grande que la normal y más chica que el h1
                font-size: $tamanyoH2;
                text-align:center;
                padding:15px 0;
                text-shadow:$sombraH2;
            }
            &.respuestas{
                text-align: center;
                margin:auto;
                p{
                    display: block;
                    text-align: left;
                    margin-left: 32.5%;
                    margin-bottom: 1%;
                    input[type=radio]{
                        display: inline;
                        margin-right: 1%;
                    }
                }
            }
        }
        &.oculto{
            //Ocultamos el contenido
            @include oculto;
        }
    }
    &.paginator{
        margin-right: 9%;
    }
    &.modal{
        @include oculto;
        //Ponemos la posición fija ya que es un modal
        position: fixed;
        //Z-index superior a todos los demás para que quede por encima
        z-index: 1000;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        //Ponemos el overflow auto por si es necesario un scroll
        overflow: auto;
        //Ponemos el color translúcido para que se pueda seguir viendo la página por detrás
        background-color: rgba(0,0,0,0.4);
        
        .mensaje, .botones {
            background-color: $colorModal;
            font-size: 18px;
            margin: auto;
            width: 80%;
            height: 20%;
            padding: 20px;
        }
    }
}
