//Menú principal
.navegacion{
    z-index: 20;
	width: 37%;
	margin: 30px auto;
    background: $colorFondoFormulario;
    //Ponemos display inline-block por si hay más de uno que estén al lado y si no hay hueco una encima de otro
    display: inline-block;
    border-radius: 5px;
    box-shadow: $sombraFormularioLogin;
    .menu{ 
        > li{
            z-index: 40;
            position: relative;
            //Ponemos display inline-block por si hay más de uno que estén al lado y si no hay hueco una encima de otro
            display: inline-block;
            > a{
                //Alineamos los enlaces
                display: block;
                padding: 15px 20px;
                color: $colorTexto;
                text-decoration: none;
                &:hover{
                    color: $colorEnlace;
                    transition: all .3s;
                }
            }
            &:hover{
                .submenu{
                    //Ponemos su submenú visible
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        //Submenu
        .submenu{
            position: absolute;
            background: $colorSubmenu;
            visibility: hidden;
            opacity: 0;
            transition: opacity 1s;
            li{
                a{
                    display: block;
                    padding: 15px;
                    color: $colorTexto;
                    text-decoration: none;
                }
            }
        }
    }
}