//Menú principal
.navegacion{
    //Características del menú
    z-index: 20;
	width: 39%;
	margin: 30px auto;
    background: $colorFondoFormulario;
    //Ponemos display inline-block por si hay más de uno que estén al lado y si no hay hueco una encima de otro
    display: inline-block;
    border-radius: 5px;
    //Añadimos sombra para dar profundidad
    box-shadow: $sombraFormularioLogin;
    .menu{ 
        > li{
            z-index: 40;
            position: relative;
            //Ponemos display inline-block por si hay más de uno que estén al lado y si no hay hueco una encima de otro
            display: inline-block;
            > a{
                //Alineamos los enlaces
                display: block;
                padding: 15px 20px;
                color: $colorTexto;
                text-decoration: none;
                &:hover{
                    //Cambiamos el color al poner encima el cursor con una transición
                    color: $colorEnlace;
                    transition: all 0.3s;
                }
            }
            &:hover{
                .submenu{
                    //Ponemos su submenú visible
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        //Submenu
        .submenu{
            //Características del submenú
            position: absolute;
            background: $colorSubmenu;
            visibility: hidden;
            opacity: 0;
            transition: opacity 1s;
            li{
                a{
                    display: block;
                    padding: 15px;
                    color: $colorTexto;
                    text-decoration: none;
                }
            }
        }
    }
}