input[type=submit], button {
    padding:5px 20px;
    @include bordesBotones;
    @include colorBotones;
    float:right;
    font-weight:bold;
    cursor:pointer;
    font-size:$tamanyoLetraBotones;
    &.activo{
        background-color: $colorBotonActivo;
        border: 1px solid $colorBotonActivo;
    }
    &.revisar{
        background-color: $colorBotonRevisar;
    }
    &.cabecera{
        background-color: $colorFondoFormulario;
        @include botonRedondo;
        padding:10px;
        margin-right: 5px;
        margin-top: 30px;
        box-shadow: $sombraFormularioLogin;
    }
    &#usuarioExit{
        margin-right: 15%;
    }
}
.contenedorBoton{
    padding:0 20px 20px 20px; 
    margin-right: 42.5%;
    &.login{
        margin: 10px;
    }
    &:after {
       clear:both;
       /*Hacemos que actue como una tabla*/
       display:table;
       content:"";
    }
    a{
       display:block;
       float:left;
       color:$colorEnlace;
       padding-top:8px;
    }
}