input[type=submit], button {
    padding:5px 20px;
    border:$bordeBotones;
    border-radius:0.3em;
    background:$colorFondoBotones;
    color:$colorTexto;
    float:right;
    font-weight:bold;
    cursor:pointer;
    font-size:13px;
    &.activo{
        background-color: red;
        border: 1px solid red;
    }
    &.revisar{
        background-color: orange;
    }
    &.cabecera{
        background-color: $colorFondoFormulario;
        border-radius: 50%;
        padding:10px;
        margin-right: 5px;
        margin-top: 30px;
        box-shadow: $sombraFormularioLogin;
    }
    &#usuarioExit{
        margin-right: 15%;
    }
}
.contenedorBoton{
    padding:0 20px 20px 20px; 
    margin-right: 42.5%;
    &.login{
        margin: 10px;
    }
    &:after {
       clear:both;
       /*Hacemos que actue como una tabla*/
       display:table;
       content:"";
    }
    a{
       display:block;
       float:left;
       color:$colorEnlace;
       padding-top:8px;
    }
}