select{
    display:block;
    margin-left:25%;
    @include colorCombo;
    box-shadow:$sombraInputText;
    margin-bottom:10px;
    &:hover{
        background:$colorFondoInputTextHover;
    }
    &.comboNumero{
        margin: 10px;
        margin-left:15%;
    }
}