table{
	background-color: $bgColorTabla;
    display: inline-block;
	text-align: left;
	border-collapse: collapse;
	width: 80%;    
    border-radius:0.4em;
    margin-left: 100px;
    margin-top: 3%;    
    &.tablaExamen{
        @include tamanyoTablaExamen;
        margin-top: 5px;
        overflow-y:scroll;
        margin-left: 3.5%;
        padding-bottom: 5px;
        margin-bottom: 2.5%;
    }
    th, td{
        padding: 20px;
        width: 100%;
    }
    thead{
        //@include bordesThead;
        @include coloresTh;
    }
    tr{
        &:nth-child(even){
            background-color: $bgTrPar;
            color:$colorPares;
        }
        &:hover td{
            @include coloresTdHover;
        }
        &.oculto{
            display: none;
        }
    }
}