table{
	background-color: $bgColorTabla;
    //Ponemos display inline-block por si hay más de una tabla que estén al lado y si no hay hueco una encima de otra
    display: inline-block;
	text-align: left;
    //Fusionamos los bordes para que no se vean dobles
	border-collapse: collapse;
	width: 80%;    
    border-radius:10px;
    margin-left: 100px;
    margin-top: 3%;
    &.tablaExamen{
        @include tamanyoTablaExamen;
        margin-top: 5px;
        //Ponemos un scroll en el eje vertical
        overflow-y:scroll;
        margin-left: 3.5%;
        padding-bottom: 5px;
        margin-bottom: 2.5%;
    }
    &.usuarios{
        th, td{
            width: 30%;
        }
    }
    th, td{
        padding: 20px;
        width: 100%;
    }
    thead{
        @include coloresTh;
    }
    tr{
        &:nth-child(even){
            @include colorParesTabla;
        }
        &:hover td{
            @include coloresTdHover;
        }
        &.oculto{
            //Ocultamos el contenido
            @include oculto;
        }
    }
}