input[type=text],input[type=password],input[type=date],input[type=file],textarea{
    @include bordesInputText;
    margin-left:25%;
    width: 50%;
    padding:8px 5px;
    color:$colorTexto;
    background:$colorFondoInputText;
    box-shadow:$sombraInputText;
    margin-bottom:20px;
    &#filtro{
        display:block;
        margin-left: 5%;
        border-radius: 50px;
        width: 200px;
        margin-bottom: 0;
    }
    &.formulario{
        width:90%;
        margin-left:10px;
    }
    &.contador{
        width: 5%;
        float: right;
        margin-right: 10%;
        margin-top: -2%;
    }
}
input[type=checkbox] {
 	display:inline-block;
    vertical-align:top;
}
label{
    color:$colorLabel;
    margin-left:25%;
    display:block;
    padding-bottom:9px;
    &[for=recordar]{
        color:$colorTexto;
        display:inline-block;
        padding-bottom:0;
        padding-top:5px;
    }
    &.formulario{
        margin-left:10px;
        margin-top:10px;
    }
    &.recordar{
        margin-top: 0px;
    }
}
input[type=text]:hover,input[type=password]:hover,label:hover ~ input[type=text],label:hover ~ input[type=password]{
 	background:$colorFondoInputTextHover;
}
span{
    &.filtro{
        position: absolute;
        font-size: 20px;
        margin-left: 20%;
        margin-top: -2.5%;
    }
}