* { box-sizing: border-box; }
body {
	font-family: $fuente;
    color:$colorTexto;
    font-size:$tamanyoTexto;
    background:$colorFondo;
    padding: 0px;
    margin: 0px;
    .logoLogin{
        float: left;
        width: 300px;
        margin-left: 60px;
        margin-top: 30px;
    }
}